<!DOCTYPE html>
<html>

<head>
    <title>Websocket Client Dashboard</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">-->

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ static_url('css/dashboard.css') }}">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                 aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Socket Client Dashboard</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>-->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="margin-top:100px;">

        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    <!--<div class="col-xs-9">
                        <div class="form-group">
                            <label for="host">EPC Data:</label>
                            <input type="text" id="epcData" name="epcData" value="07C405A0800008000000351E" class="form-control" />
                            <span class="label label-info">Enter the EPC you want to send to the Clients.</span>
                        </div>
                    </div>-->

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="host">Refresh Rate:</label>
                            <input type="number" value="3" name="refresh" min="1" max="30" class="form-control">
                        </div>
                    </div>
                </div>

                <table id="clients" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>IP</th>
                            <th>Port</th>
                            <th>Ping</th>
                            <th>Status</th>
                            <th>Time Online</th>
                            <!--<th>Post RFID Scan</th>-->
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Client</th>
                            <th>IP</th>
                            <th>Port</th>
                            <th>Ping</th>
                            <th>Status</th>
                            <th>Time Online</th>
                            <!--<th>Post RFID Scan</th>-->
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for r in clients %}
                    <tr class="readpoint" id="{{ r.uid }}" data-id="{{ r.id }}">
                        <td>{{ escape(r.id) }}</td>
                        <td class="ip"></td>
                        <td class="port"></td>
                        <td class="ping"></td>
                        <td class="status">
                            <span id="connected" style="display:none;" class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Connected</span>
                            <span id="not-connected" style="display:none;" class="label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Not Connected</span>
                        </td>
                        <td class="time"></td>
                        <!--<td class="post-scan">
                            <form class="scan-form" style="display:none;">
                                {% module xsrf_form_html() %}
                                <input type="hidden" name="readPoint" value="{{ r.id }}" />
                                <button type="submit" class="btn btn-primary btn-xs">Post RFID Scan</button>
                            </form>
                        </td>-->
                    </tr>
                    {% end %}
                    </tbody>
                </table>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; X Studios 2017. All rights reserved.</p>
        </footer>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ static_url('js/dashboard.js') }}"></script>

</body>

</html>
